HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.log
*.env
src\main\resources\firebase-admin.json
parent-child-activity-app-firebase-adminsdk-fbsvc-609bc68577.json
src/main/resources/parent-child-activity-app-firebase-adminsdk-fbsvc-609bc68577.json
src/main/resources/firebase-admin.json
C:\Users\ABHISHEK\OneDrive\Desktop\activity-suggester\src\main\resources\parent-child-activity-app-firebase-adminsdk-fbsvc-609bc68577.json
C:\Users\ABHISHEK\OneDrive\Desktop\activity-suggester\src\main\resources\firebase-admin.json